<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/43521723-9698-416e-b108-f7d9f50d5847/resourceGroups/oscarsresourcegrouptest123/providers/Microsoft.Web/sites/WebAppBackEndOscarOscarTest</ResourceId>
    <ResourceGroup>oscarsresourcegrouptest123</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://webappbackendoscaroscartest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>webappbackendoscaroscartest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAppBackEndOscarOscarTest</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAppBackEndOscarOscarTest</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>